@CHARSET "UTF-8";

body {
    background-color: green;
}

table {
    background-color: yellow;
    border: dashed 5px white;
}

td {
    background-color: white;
    padding: 2px 2px 2px 2px;
    margin-right: 5px;
    margin-top: 5px;
    text-align: center;
}

.label {
    display: inline-block;
    font-weight: bold;
    width: 150px;
}